@charset "utf-8";
#wrap {overflow:hidden}

/* header */
header {position:fixed; top:0; left:50%; z-index:100; width:100%; max-width:500px; border-bottom:1px solid #cdcdcd; background:#f2f2f2; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%);}
header .inner {display:flex; justify-content:space-between; align-items: center; height:60px; padding:0 15px; }
header .inner .logo {margin:0; width:125px; height:40px;}
header .inner .logo a {display:block; width:100%; height:100%; background:url("../img/layout/logo.png") no-repeat center center; background-size:contain; font-size:0;}
header .inner .util a {font-size:12px; font-weight:bold; color:#42416e;}
header .inner .util a img {display:block; width:20px; margin:0 auto 3px;}


/* detailTop */
#detailTop {position:fixed; top:0; left:0; z-index:100; width:100%; border-bottom:1px solid #cdcdcd; background:#fff;}
#detailTop .inner {display:flex; justify-content:space-between; align-items: center; height:60px; padding:0 15px; }
#detailTop .loginBtn {font-size:13px; font-weight:bold;}
#detailTop .loginBtn:before {content:''; display:block; width:15px; height:15px; background:url("../images/layout/ico-loginButton.png") no-repeat center center; background-size:15px; margin:0 auto;}
#detailTop .leftArea.fN {display:flex; width:calc(100% - 48px);}
#detailTop .leftArea.fN input {border:none; width:calc(100% - 24px);}
#detailTop .btnBack {display:flex; align-items:center; gap:8px; background:transparent; font-size:14px;}
#detailTop .btnBack img {width:20px; height:16px;}
#detailTop .rightArea .btnFav {font-size:14px; padding:0 0 0 18px; background:url("../images/icon/ico-fav.png") no-repeat center left; background-size:14px;}
#detailTop .rightArea .btnFav.on {background:url("../images/icon/ico-fav-on.png") no-repeat center left; background-size:14px;}
#detailTop.searchTop {width:100%;}
#detailTop.searchTop .leftArea.fN {width:100%;}
#detailTop.searchTop .leftArea.fN > .searchBox {position:relative; width:100%; margin-left:15px;}
#detailTop.searchTop .leftArea.fN > .searchBox input {width:100%; border-radius:50px; padding-left:40px;}
#detailTop.searchTop .leftArea.fN > .searchBox button {position:absolute; top:0; left:-5px; width:40px; height:40px; background:url("/app/assets/img/contents/ico-search.png") no-repeat center center; background-size:18px;}

/* wrap */
#wrap {padding:61px 0 0 0;}

/* main */
#main {}

/* contents */
#contents {padding:0 15px 60px;}

/* dockbar */
#dockBar {position:fixed; left:50%; bottom:0; width:100%; max-width:500px; background:#42416e; z-index:100; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%);}
#dockBar .inner {height:50px;}
#dockBar ul {display:flex; height:50px;}
#dockBar ul li {display:flex; align-items:center; justify-content:center; flex:1;}
#dockBar ul li a {font-size:12px; color:#fff; text-align:center;}
#dockBar ul li a img {display:block; margin:0 auto 3px;}
#dockBar ul li:nth-of-type(1) a img {width:15.5px; height:16px;}
#dockBar ul li:nth-of-type(2) a img {width:16.5px;}
#dockBar ul li:nth-of-type(3) a img {width:21px;}
#dockBar ul li:nth-of-type(4) a img {width:21.5px; height:14.5px;}
#dockBar ul li:nth-of-type(5) a img {width:17.5px; height:18.6px;}
#dockBar .dockState {position:absolute; top:50%; left:50%; display:flex; flex-wrap:wrap; width:calc(100% - 10px); transform:translate(-50%, -50%); border-radius:6px;}
#dockBar .dockState > div {display:flex; align-items:center; justify-content:center;  flex:1 0 100%; height:45px;}

/* footer */
footer {position:relative; border-top:1px solid #cdcdcd;}
footer .inner {padding:0 15px 60px;}
footer .foLink {display:flex; flex-wrap:wrap; gap:15px; margin:17px 0;}
footer .foLink li a {font-size:13px; color:#000; font-weight:bold;}
footer .foLink li a:hover {color:#f0805a;}
footer .foNotice {font-size:12px; word-break:keep-all; color:#747474;}
footer .foNotice br {display:none;}
footer .footerInfo {display:none;}
footer .footerInfo.on {display:block;}
footer .foInfo {margin:17px 0;}
footer .foInfo li {display:flex; align-items:start; font-size:13px; word-break:keep-all; color:#747474;}
footer .foInfo li * {color:inherit;}
footer .foInfo li:not(:last-child) {margin-bottom:5px;}
footer .foInfo li span {flex:none; margin-right:5px;}
footer .copy {font-size:12px;}
.footerInfoBtn {position:absolute; top:-25px; right:0; width:60px; height:25px; text-align:center; font-weight:bold; border:1px solid #cdcdcd;}
.footerInfoBtn:after {content:''; position:relative; display:inline-block; width:12px; height:6px; background:url("/app/assets/img/layout/ico-foo-arrow.png") no-repeat center center; background-size:cover;}
.footerInfoBtn.on:after {transform:rotate(180deg);}
/* popup */
.btnExample {display:flex; gap:10px; align-items:left; justify-content:flex-start; flex-direction:column;}
.btnExample button {display:flex; width:100%; height:40px; align-items:center; justify-content:center; border:1px solid #000;  font-size:16px; font-weight:bold;}
.layer {position:fixed; display:none; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.3); z-index:99999; padding:0 15px;}
.layer .inBox {position:relative; width:100% !important;  padding:25px 20px 30px; margin:25px auto 0; background:#fff; border-radius:20px;}
.layer .inBox .tit {display:block; font-size:16px; color:#42416e; font-weight:bold; text-align:center;}
.layer .inBox .popCont {margin:25px 0 0;}
.layer .inBox .popCont textarea {width:100%; min-height:180px; background:#eee; border-radius:15px; padding:20px; border:none; }
.layer .inBox .popCont textarea#faq_cont_1 {min-height:60px;}
.layer .inBox .popCont .icoText {text-align:center;}
.layer .inBox .popCont .icoText p {display:inline-block; background:url("/app/assets/img/contents/ico-popup-check.png") no-repeat center left; background-size:20px; padding:5px 0 5px 27px; font-size:16px; font-weight:bold;}
.layer .inBox .popCont .btnArea {margin:20px 0 0 0; text-align:center;}
.layer .inBox .popCont .btnArea button {width:100%;}
.layer .inBox .popCont .comm {max-height:400px; overflow-y:scroll; padding:0;}
.layer .inBox .popCont .comm strong {display:block; font-size:14px; font-weight:bold;}
.layer .inBox .popCont .comm p {font-size:12px; color:#333;}
.layer .inBox .popCont .comm b {display:block; font-size:13px; font-weight:bold;}
.layer .inBox .popCont .comm ul {display:flex; flex-wrap:wrap;}
.layer .inBox .popCont .comm ul li {width:50%; margin-bottom:10px;}
.layer .inBox > a {position:absolute; top:25px; right:15px; width:20px; height:20px; background:url("/app/assets/img/contents/ico-popup-close.png") no-repeat center center; background-size:15px; font-size:0;}
#alarmPop .inBox > a {top:10px;}
#csDetailPop .inBox .tit {font-size:15px; color:#000; text-align:left;}
#csDetailPop .inBox > a {position:static; top:auto; left:auto; right:auto; bottom:auto; display:flex; align-items:center; justify-content:center; width:100%; height:45px; border-radius:15px; background:#d4d4d4; font-size:15px; font-weight:bold; color:#848484;}
#csDetailPop .csDetailTable {margin:30px 0;}
#csDetailPop .csDetailTable dl {display:flex; align-items:center; justify-content:space-between; padding:10px 0; border-bottom:1px solid #d4d4d4;}
#csDetailPop .csDetailTable dl dt {font-size:14px;}
#csDetailPop .csDetailTable dl dd {font-size:12px;}
#csDetailPop .csDetailTable dl dt, #csDetailPop .csDetailTable dl dd {color:#42416e; font-weight:bold;}


#csApplicationPop .inBox {padding:12px 15px;}
#csApplicationPop .inBox .popCont {margin:0;}
#csApplicationPop .csAppTop, #csApplicationPop .csAppMid {position:relative; padding-bottom:18px; margin-bottom:18px;}
#csApplicationPop .csAppTop:before, #csApplicationPop .csAppMid:before {content:''; position:absolute; left:-15px; bottom:0; width:calc(100% + 30px); height:5px; background:#f3f3f3;}
#csApplicationPop .csAppTop .csBox .flBox {align-items:center;}
#csApplicationPop .csAppTop .csBox .flBox .ibox {width:80px; height:80px; border-radius:100%; flex:none; overflow:hidden;}
#csApplicationPop .csAppTop .csBox .flBox .tbox {display:flex; align-items:center; width:100%;}
#csApplicationPop .csAppTop .csBox .flBox .tagBox {position:relative; top:auto; right:auto; margin-right:12px; padding-right:12px;}
#csApplicationPop .csAppTop .csBox .flBox .tagBox:before {content:''; position:absolute; top:5px; right:0; width:1px; height:11px; background:#a2a2a2;}
#csApplicationPop .csAppMid.login .pbox {width:100%; padding:15px 10px; background:#42416e; border-radius:15px; text-align:center; display:flex; align-items:center; justify-content:center; gap:10px;}
#csApplicationPop .csAppMid.login .pbox span {width:30px; height:30px; border-radius:100%; background:#edcdbb; font-size:17px; font-weight:Bold; color:#000; text-align:center; line-height:28px;}
#csApplicationPop .csAppMid.login .pbox p {display:flex; gap:3px; font-size:14px; color:#fff;}
#csApplicationPop .csAppMid.login .pbox p strong {font-size:14px; font-weight:bold; color:#fff;}
#csApplicationPop .csAppMid.login .ptxt {display:flex; align-items:center; justify-content:flex-end; margin:6px 0 0 0; font-size:12px;}
#csApplicationPop .csAppMid.login .ptxt b {font-weight:bold; margin-left:4px;}
#csApplicationPop .csAppMid.login .ptxt2 {display:flex; align-items:center; justify-content:center; margin:20px 0 0 0; font-size:12px;}
#csApplicationPop .csAppMid.login .cbox {margin:25px 0 15px;}
#csApplicationPop .csAppMid.login .cbox {display:flex; align-items:center;}
#csApplicationPop .csAppMid.login .cbox .info {display:flex; align-items:flex-start; width:60%; text-align:center;}
#csApplicationPop .csAppMid.login .cbox .info p {flex:1; font-size:12px; font-weight:bold; color:#42416e;}
#csApplicationPop .csAppMid.login .cbox .info p:first-child {border-right:1px solid #a2a2a2;}
#csApplicationPop .csAppMid.login .cbox .info p strong {display:block; font-size:18px; font-weight:bold; color:inherit;}
#csApplicationPop .csAppMid.login .cbox a {width:40%; text-align:center; padding:0 15px;}
#csApplicationPop .csAppMid.login .cbox span {display:block; width:100%; height:27px; line-height:25px; font-size:12px; color:#fff; background:#42416e; border-radius:50px;}
#csApplicationPop .csAppMid.needLogin strong {display:block; font-size:15px; font-weight:bold; margin:0 0 20px;}
#csApplicationPop .csAppMid.needLogin .txt01 {font-size:13px; font-weight:bold; color:#000;}
#csApplicationPop .csAppMid.needLogin .txt02 {margin:7px 0 13px; word-break:keep-all;}
#csApplicationPop .csAppMid.needLogin .txt02 br {display:none;}
#csApplicationPop .csAppMid.needLogin a {padding:13px 5px; display:block; background:#42416e; border-radius:15px; font-size:13px; color:#fff; text-align:center;}

#csApplicationPop .csAppBottom .callBox {width: 100%; padding: 15px 10px; background: #d5d4ed; border-radius: 15px; text-align: center; display: flex; align-items: center; justify-content: center; gap: 10px; font-size:14px; color:#42416e;;}
#csApplicationPop .csAppBottom .callBox img {width:30px; height:30px;}
#csApplicationPop .csAppBottom .callBox strong {font-size:inherit; font-weight:bold; color:inherit;}
#csApplicationPop .csAppBottom .txt01 {margin:10px auto 17px; font-size:12px; display:flex; align-items:center; justify-content:center;}
#csApplicationPop .csAppBottom .txt01 b {font-weight:bold;}
#csApplicationPop .csAppBottom .txt02 {font-size:13px; color:#000; font-weight:bold; text-align:center;}
#csApplicationPop .csAppBottom .txt01 span {color:#42416e;}
#csApplicationPop .inBox > a {position:static; top:auto; right:auto; display:block; width:100%; height:auto; line-height:45px; text-align:center; font-size:15px; color:#848484; font-weight:bold; background:#d4d4d4; border-radius:15px; margin:30px 0 0 0;}





#alarmPop .inBox {padding:12px 15px 30px;}
#alarmPop .inBox .popCont {margin:0;}
#alarmPop .csAppTop, #alarmPop .csAppMid {position:relative; margin-bottom:15px;}
#alarmPop .alarmCont {border-radius:20px; background:#F3F3F3; padding:15px;}
#alarmPop .alarmCont p b {position:relative; top:-2px; display:inline-block; vertical-align:middle; font-weight:bold;}
#alarmPop .csAppTop .csBox .flBox {align-items:center;}
#alarmPop .csAppTop .csBox .flBox .ibox {width:80px; height:80px; border-radius:100%; flex:none; overflow:hidden;}
#alarmPop .csAppTop .csBox .flBox .tbox {display:flex; align-items:center; width:100%;}
#alarmPop .csAppTop .csBox .flBox .tagBox {position:relative; top:auto; right:auto; margin-right:12px; padding-right:12px;}
#alarmPop .csAppTop .csBox .flBox .tagBox:before {content:''; position:absolute; top:5px; right:0; width:1px; height:11px; background:#a2a2a2;}
#alarmPop .csAppMid.login .pbox {width:100%; padding:15px 10px; background:#42416e; border-radius:15px; text-align:center; display:flex; align-items:center; justify-content:center; gap:10px;}
#alarmPop .csAppMid.login .pbox span {width:30px; height:30px; border-radius:100%; background:#edcdbb; font-size:17px; font-weight:Bold; color:#000; text-align:center; line-height:28px;}
#alarmPop .csAppMid.login .pbox p {display:flex; gap:3px; font-size:14px; color:#fff;}
#alarmPop .csAppMid.login .pbox p strong {font-size:14px; font-weight:bold; color:#fff;}
#alarmPop .csAppMid.login .ptxt {display:flex; align-items:center; justify-content:flex-end; margin:6px 0 0 0; font-size:12px;}
#alarmPop .csAppMid.login .ptxt b {font-weight:bold; margin-left:4px;}
#alarmPop .csAppMid.login .ptxt2 {display:flex; align-items:center; justify-content:center; margin:20px 0 0 0; font-size:12px;}
#alarmPop .csAppMid.login .cbox {margin:25px 0 15px;}
#alarmPop .csAppMid.login .cbox {display:flex; align-items:center;}
#alarmPop .csAppMid.login .cbox .info {display:flex; align-items:flex-start; width:60%; text-align:center;}
#alarmPop .csAppMid.login .cbox .info p {flex:1; font-size:12px; font-weight:bold; color:#42416e;}
#alarmPop .csAppMid.login .cbox .info p:first-child {border-right:1px solid #a2a2a2;}
#alarmPop .csAppMid.login .cbox .info p strong {display:block; font-size:18px; font-weight:bold; color:inherit;}
#alarmPop .csAppMid.login .cbox a {width:40%; text-align:center; padding:0 15px;}
#alarmPop .csAppMid.login .cbox span {display:block; width:100%; height:27px; line-height:25px; font-size:12px; color:#fff; background:#42416e; border-radius:50px;}
#alarmPop .csAppMid.needLogin strong {display:block; font-size:15px; font-weight:bold; margin:0 0 20px;}
#alarmPop .csAppMid.needLogin .txt01 {font-size:13px; font-weight:bold; color:#000;}
#alarmPop .csAppMid.needLogin .txt02 {margin:7px 0 13px; word-break:keep-all;}
#alarmPop .csAppMid.needLogin .txt02 br {display:none;}
#alarmPop .csAppMid.needLogin a {padding:13px 5px; display:block; background:#42416e; border-radius:15px; font-size:13px; color:#fff; text-align:center;}

#alarmPop .csAppBottom .callBox {width: 100%; padding:10px; background: #d5d4ed; border-radius: 8px; text-align: center; display: flex; align-items: center; justify-content: center; gap: 5px; font-size:14px; color:#42416e;}
#alarmPop .csAppBottom .callBox img {width:20px; height:20px; margin-right:2px;}
#alarmPop .csAppBottom .callBox strong {font-size:inherit; font-weight:bold; color:inherit;}
#alarmPop .csAppBottom .txt01 {margin:10px auto 17px; font-size:12px; display:flex; align-items:center; justify-content:center;}
#alarmPop .csAppBottom .txt01 b {font-weight:bold;}
#alarmPop .csAppBottom .txt02 {font-size:13px; color:#000; font-weight:bold; text-align:center;}
#alarmPop .csAppBottom .txt01 span {color:#42416e;}
/*#alarmPop .inBox > a {position:static; top:auto; right:auto; display:block; width:100%; height:auto; line-height:45px; text-align:center; font-size:15px; color:#848484; font-weight:bold; background:#d4d4d4; border-radius:15px; margin:30px 0 0 0;}*/

#alarmCheckPop .inBox .popCont {margin:0;}
#alarmCheckPop .inBox .popCont h3 {font-size:15px; font-weight:bold; color:#000; margin:0 0 5px;}
#alarmCheckPop .inBox .popCont p {font-size:13px;}
#alarmCheckPop .inBox .popCont a {width: 100%; padding:10px; background: #d0d0d0; border-radius: 8px; text-align: center; display: flex; align-items: center; justify-content: center; gap: 5px; font-size:14px; color:#000; margin:15px 0 0 0;}