@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./common.css');
@import url('./jquery-ui.css');
@import url('./layout.css'); 
@import url('./contents.css');

/* 헤더 추가 로딩바 */
.loading {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
	display:none;
}
.loading img {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}